/* filepath: d:\TO_CONG_QUAN\University_Documents\Nam_3\HK2\Devops\NT548-DevOps-Project\client\src\index.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #90b2dd;
  }